#input {
  height: 4em;
  width: 100%;
  background: white; }

#submit {
  height: 4em;
  width: 100%;
  background: #28ABF4;
  color: #fff;
  border: none; }

#button {
  background: green;
  height: 100%;
  font-size: 2em; }

#chat {
  border-top: 2em solid green;
  border-left: 1em solid green;
  border-right: 1em solid green; }

#list {
  text-align: center; }

/*body {
	background: green;
	height: 100%;
}*/
